body{
    background-color: black;
}
h1{
    font-size: xx-large;
    font-weight: bold;
    color: purple;
}
h1{
    color: purple ;
}
p{
    font-size:x-large

}
p {
    color: purple;
}
ul{
    color: purple;
}
